<p>
  <i><%= comment.author %> said: </i>
</p>
 
<p>
    <%= comment.body %>
</p>
<p>
	<% if can? :manage, comment %>
		<%= link_to 'Удалить комментарий', [comment.article, comment], method: :delete, data: { confirm: 'Вы уверены?' } %>
	<% end %>
</p>

